.events_panel {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient( rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    box-sizing: border-box;
}

.events_table {
    width: 100%;
    border-collapse: collapse;
}

.events_table_cell {
    padding: 8px;
    border: 1px solid #ccc;
}

.event_description {
    max-width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.event_time {
    width: 10%;
}
