.photo_and_buttons {
  margin: 2rem;
  display: flex;
  justify-content: center;
}

#user_photo {
  border: 0.2rem solid var(--pureblack);
  border-radius: 10rem;
  height: 10rem;
  width: auto;
  max-width: 10rem;
}

.user_info {
  margin: 0 2rem;
  background-color: var(--white);
  border: 0.15rem var(--pureblack) solid;
  box-shadow: 0.15rem 0.15rem 0.25rem var(--pureblack);
  border-radius: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.user_info p {
  margin: 0.5rem;
  font-size: 1.3rem;
}