.change_password_popup_window {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--modal-color);
    min-height: 22rem; /* Changed from height to min-height */
    width: 20rem;
    border-radius: 1rem;
    padding: 1rem; /* Added padding to provide space for error message */
    box-sizing: border-box; /* Ensure padding does not affect overall size */
}

.change_password_popup_window form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.change_password_popup_window form input {
    width: 15rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 0.15rem solid var(--border-color);
    background-color: var(--modal-color);
    margin-top: 2.5rem;
    padding: 0.4rem;
    box-shadow: 3px 3px 8px var(--black);
    color: var(--text-color);
}

.change_password_buttons_container {
    margin-top: 2rem;
    display: flex;
    align-content: space-between;
}

.change_password_buttons_container button {
    width: 7rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: var(--red);
    line-height: 1;
    padding: 0.1rem;
    box-shadow: 4px 4px 9px var(--black);
    color: var(--text-color-accept-cancel-btn);
}

.change_password_buttons_container button:first-of-type {
    background-color: var(--green);
    margin-right: 1rem;
}

.change_password_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.4);
    z-index: 2;
}

.text-danger {
    color: red;
    margin-top: 1rem; /* Added margin for spacing */
    text-align: center; /* Center align the error message */
}
