.todo-container {
    margin-left: 30px;
    margin-top: 40px;
    margin-right: 20px;
    display: flex;
    align-items: flex-start;
}

.todo-list {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
}

.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
}

.task-checkbox {
    display: none;
}

.task-checkbox, .delete-checkbox {
    margin-right: 10px;
}

.task-text {
    font-size: 24px;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;
}

.custom-checkbox .checkbox-checkmark {
    position: relative;
    height: 2rem;
    width: 2rem;
    background-color: var(--black);
    border: 0.1rem solid var(--pureblack);
    margin-right: 0.8rem;
    border-radius: 50%;
}

.custom-checkbox input:checked + .checkbox-checkmark {
    border: 0.1rem solid var(--white);
    background-color: var(--green);
}

.custom-checkbox .checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    width: 0.5rem;
    height: 1rem;
    border: solid var(--white);
    border-width: 0 3px 3px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.custom-checkbox input:checked + .checkbox-checkmark:after {
    display: block;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 10px;
    right: 10px;
    margin-left: 10px;
}

.round-button {
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    background-color: var(--orange);
    color: var(--white);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.popup {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(61, 61, 61, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.popup-content {
    background-color: var(--modal-color);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    text-align: center;
}

.popup-content h2 {
    margin-bottom: 1.5rem;
}

.popup-content input {
    width: 100%;
    padding: 10px;
    background-color: var(--modal-color);
    border: 0.1rem solid var(--border-color);
    color: var(--text-color);
} 

.popup-content input[type='checkbox'] {
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.5rem;
}

.popup-content label {
    align-items: center;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.is-important-task-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content button {
    padding: 10px 20px;
    margin-right: 1.5rem;
    width: 6rem;
    max-width: 6rem;
    border: none;
    background-color: var(--green);
    color: var(--pureblack);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0.15rem 0.15rem 0.2rem var(--pureblack);
}

.popup-content button:last-child {
    margin-right: 0;
    background-color: var(--red);
}